body {
  background-image: url(../Photos/game.png);
  background-size: cover;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 45px;
  color: #010a11;
}

#message {
  font-size: 24px;
  color: #070707;
}

.board {
  width: 900px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.card {
  height: 150px;
  background-color: #10547e;
  border: 3px solid #10547e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.card:hover {
  background-color: #2594da;
}

#game-details {
  width: 280px;
  margin: 20px auto;
  padding: 15px;
  background-color: #10547e;
  color: white;
  border: 3px solid #10547e;
  border-radius: 10px;
}
.game-info {
  font-size: 18px;
  margin: 12px;
}

#difficulty {
  padding: 5px;
  background-color: white;
  color: #10547e;
  border: 2px solid #10547e;
  border-radius: 5px;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #3279ad;
  color: white;
  border: 2px solid #10547e;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #2594da;
}
